html{
    box-sizing: border-box;
    height: 100%;
}



*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body{
    align-items: center;
    background-color: white;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}


.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: black
    border 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}


.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background:black;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px ;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}


.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(31, 30, 30);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: white;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    
}

.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: rgb(248, 162, 4);
}

.calc-button:last-child:hover{
    background-color: white;
    color: inherit;
}

.calc-button:hover{
    background-color: grey;
}
.calc-button:active{
    background-color: grey;
}
.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}

